<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="APITest"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\\sqlExpress;initial catalog=APITest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;TrustServerCertificate=True"/>
  </connectionStrings>
</configuration>